<!DOCTYPE html>
<html>
  <head>
    <title>INNsP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <div class="hedder_image">
    <a href="/">
    <%= link_to image_tag("0.jpg", class:"hometag"), "/" %>
    </a>
    </div>
    </header>

    
        <%# <% if user_signed_in? %> 
          <div class="user_nav grid-6">
                    <span>
                    <%# <%= current_user.nickname %> 
            <ul class="user__info">
              <%# <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <%# </li>  %>
            </ul>
          </span>
          </div>
        <%# <% end %> 
      <%= yield %>
    <footer>
    <div class="c">
    <h6>
    <%= "Copyright © yuka owari All Rights Reserved." %>
    </h6>
     </div>
    </footer>
  </body>
</html>